<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  
</head>
<body>

    <h2>User Login Form</h2>
    <form action="/user" method="POST">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
        <label for="fname">First Name:</label><br>
        <input type="text" id="fname" name="fname"><br>

        <label for="lname">Last Name:</label><br>
        <input type="text" id="lname" name="lname"><br>

        <label for="address">UserID:</label><br>
        <input type="text" id="UserID" name="UserID"><br>

        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="email">Retype Email:</label><br>
        <input type="text" id="validateEmail" name="validateEmail"><br><br>

        <label for="email">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="email">Confirm Password:</label><br>
        <input type="password" id="confirmPassword" name="confirmPassword"><br><br>

        <input class="btn btn-primary" type="submit" value="Submit">
        </div>
        </div>
    </form>

</body>
</html>